{% extends 'base.html.twig' %}
{% block meta %}
    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@Papr">
    <meta name="twitter:creator" content="@Papr">
    <meta name="twitter:title" content="{{ article.title }}">
    <meta name="twitter:description" content="{{ article.title }}">
    <meta name="twitter:image" content="{{asset('assets/images/article/')}}{{article.cover}}">
    <!-- Facebook -->
    <meta property="og:url" content="">
    <meta property="og:title" content="{{article.title}}">
    <meta property="og:description" content="{{article.title}}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{asset('assets/images/article/')}}{{article.cover}}">
    <meta property="og:image:secure_url" content="">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
{% endblock %}
{% block css %}
{% endblock %}

{% block body %}
    <div class="breadcrumb-wrapper">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('article_homepage') }}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{{path('show_category',{'id': article.category.id}) }}">{{ article.category.name }}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ article.title }}</li>
                </ol>
                <!-- End of .breadcrumb -->
            </nav>
        </div>
        <!-- End of .container -->
    </div>
    <!-- End of .breadcrumb-container -->

    <!-- Banner starts -->
    <section class="banner banner__single-post banner__standard">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="post-title-wrapper">
                        <div class="btn-group">
                            <a href="#" class="cat-btn bg-color-blue-one">{{article.category.name}}</a>
                        </div>

                        <h2 class="m-t-xs-20 m-b-xs-0 axil-post-title hover-line">{{article.title}}
                        </h2>
                        <div class="post-metas banner-post-metas m-t-xs-20">
                            <ul class="list-inline">
                                <li><a href="#" class="post-author post-author-with-img">{{article.author.firstName}} &nbsp {{article.author.lastName}} </a></li>
                                <li><a href="#"><i class="feather icon-activity"></i>{{ article.views }}</a></li>
                                <li><a href="#"><i class="feather icon-share-2"></i>{{article.share}}</a></li>
                            </ul>
                        </div>
                        <!-- End of .post-metas -->
                    </div>
                    <!-- End of .post-title-wrapper -->
                </div>
                <!-- End of .col-lg-6 -->

                <div class="col-lg-6">
                    <img src="{{asset('assets/images/article/')}}{{article.cover}}" alt="" class="img-fluid" width="600" height="600">
                </div>
            </div>
            <!-- End of .row -->
        </div>
        <!-- End of .container -->
    </section>
    <!-- End of .banner -->

    <!-- post-single-wrapper starts -->
    <div class="post-single-wrapper p-t-xs-60">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <main class="site-main">
                        <article class="post-details">
                            <div class="single-blog-wrapper">
                                <div class="post-details__social-share mt-2">
                                    <ul class="social-share social-share__with-bg social-share__vertical">
                                     <!--   <li><a href="#"><i class="fab fa-facebook-f"></i></a></li> -->
                                      <!--  <li><a href="#"><i class="fab fa-twitter"></i></a></li> -->
                                     <!--   <li><a href="#"><i class="fab fa-behance"></i></a></li> -->
                                      <!--  <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li> -->
                                    </ul>
                                    <!-- End of .social-share__no-bg -->
                                </div>
                                <!-- End of .social-share -->
                                    <p>{{ article.introduction   }}</p>

                                <figure>
                                    <img src="{{asset('assets/images/article/')}}{{image1.image}}" alt="img" srcset="{{asset('assets/images/article/')}}{{asset('assets/images/article/')}}{{ image1.image }} 390w 292w">
                                    <figcaption>Drawn for an insurance company</figcaption>
                                </figure>

                                <p>{{ article.content }} </p>
                                <!-- End of .blockquote -->
                            </div>
                            <!-- End of .single-blog-wrapper -->
                        </article>
                        <!-- End of .post-details -->


                            <!-- Go to www.addthis.com/dashboard to customize your tools -->
                            <div class="addthis_inline_share_toolbox" >

                            </div>



                        <!-- End of .post-shares -->

                        <hr class="m-t-xs-50 m-b-xs-60">

                        <div class="about-author m-b-xs-60">
                            <div class="media">
                                <a href="#"><img class="rounded-circle img-thumbnail" src="{{asset('assets/images/members/')}}{{ article.author.image }}"
                                                 alt=""></a>
                                <div class="media-body">
                                    <div class="media-body-title">
                                        <h3><a href="#">{{article.author.firstName}} {{ article.author.lastName }}</a></h3>
                                        <p>{{ article.author.post }}</p>
                                    </div>
                                    <!-- End of .media-body-title -->

                                    <div class="media-body-content">
                                        <p>{{article.author.description}}</p>
                                        <ul class="social-share social-share__with-bg">
                                            <li><a href="{{ article.author.facebook }}"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="{{ article.author.instagram }}"><i class="fab fa-instagram"></i></a></li>
                                            <li><a href="{{ article.author.linkedin }}"><i class="fab fa-linkedin"></i></a></li>

                                        </ul>
                                        <!-- End of .social-share__no-bg -->
                                    </div>
                                    <!-- End of .media-body-content -->
                                </div>
                            </div>
                        </div>
                        <!-- End of .about-author -->
                        <!-- End of .about-author -->


                        <!-- End of .comment-box -->



                        <div class="post-navigation-wrapper row  m-b-xs-60">
                            <div class="post-navigation col-lg-6">

                            </div>

                        </div>
                        <!-- End of .post-navigation -->
                    </main>
                    <!-- End of main -->
                </div>
                <!--End of .col-auto  -->

                <div class="col-lg-4">
                    <aside class="post-sidebar">

                        <div class="newsletter-widget weekly-newsletter bg-grey-light-three m-b-xs-40">
                            <div class="newsletter-content">
                                <div class="newsletter-icon">
                                    <i class="feather icon-send"></i>
                                </div>
                                <div class="section-title">
                                    <h3 class="axil-title">Subscribe To Our Weekly Newsletter</h3>
                                    <p class="mid m-t-xs-10 m-b-xs-20">No spam, notifications only about new
                                        products,
                                        updates.</p>
                                </div>
                                <!-- End of .section-title -->

                                <div class="subscription-form-wrapper">
                                    <form action="#" class="subscription-form">
                                        <div class="form-group form-group-small m-b-xs-20">
                                            <label for="subscription-email">Enter Email Address</label>
                                            <input type="text" name="subscription-email" id="subscription-email">
                                        </div>
                                        <div class="m-b-xs-0">
                                            <button class="btn btn-primary btn-small">SUBSCRIBE</button>
                                        </div>
                                    </form>
                                    <!-- End of .subscription-form -->
                                </div>
                                <!-- End of .subscription-form-wrapper -->
                            </div>
                            <!-- End of .newsletter-content -->
                        </div>
                        <!-- End of  .newsletter-widget -->

                        <div class="category-widget m-b-xs-40">
                            <div class="widget-title">
                                <h3>Categories</h3>

                            </div>

                            <div class="category-carousel">
                                <div class="owl-carousel owl-theme">
                                    <div class="cat-carousel-inner">
                                        <ul class="category-list-wrapper">
                                            <li class="category-list perfect-square">
                                                <a href="{{ path('show_category',{'id':2}) }}" class="list-inner"
                                                   style="background-image: url({{asset('assets/images/categories/Lifestyle.png')}})"
                                                >
                                                    <div class="post-info-wrapper overlay">
                                                        <div class="counter-inner"><span class="counter">4</span>+
                                                        </div>
                                                        <h4 class="cat-title">Lifestyle</h4>
                                                    </div>
                                                    <!-- End of .counter-wrapper -->
                                                </a>
                                            </li>
                                            <!-- End of .category-list -->

                                            <li class="category-list perfect-square">
                                                <a href="{{ path('show_category',{'id':1}) }}" class="list-inner"
                                                   style="background-image: url({{asset('assets/images/categories/business.png')}})"
                                                >
                                                    <div class="post-info-wrapper overlay">
                                                        <div class="counter-inner"><span class="counter">1</span>+
                                                        </div>
                                                        <h4 class="cat-title">Business</h4>
                                                    </div>
                                                    <!-- End of .counter-wrapper -->
                                                </a>
                                            </li>
                                            <!-- End of .category-list -->

                                            <li class="category-list perfect-square">
                                                <a href="{{ path('show_category',{'id':3}) }}" class="list-inner"
                                                   style="background-image: url({{asset('assets/images/categories/Technology.png')}})"
                                                >
                                                    <div class="post-info-wrapper overlay">
                                                        <div class="counter-inner"><span class="counter">0</span>+
                                                        </div>
                                                        <h4 class="cat-title">Technology</h4>
                                                    </div>
                                                    <!-- End of .counter-wrapper -->
                                                </a>
                                            </li>
                                            <!-- End of .category-list -->

                                            <li class="category-list perfect-square">
                                                <a href="{{ path('show_category',{'id':7}) }}" class="list-inner"
                                                   style="background-image: url({{asset('assets/images/categories/News.png')}})"
                                                >
                                                    <div class="post-info-wrapper overlay">
                                                        <div class="counter-inner"><span class="counter">0</span>+
                                                        </div>
                                                        <h4 class="cat-title">news</h4>
                                                    </div>
                                                    <!-- End of .counter-wrapper -->
                                                </a>
                                            </li>
                                            <!-- End of .category-list -->
                                        </ul>
                                        <!-- End of .category-list-wrapper -->
                                    </div>
                                    <!-- End of .cat-carousel-inner -->


                                    <!-- End of .cat-carousel-inner -->
                                </div>
                                <!-- End of  .owl-carousel -->
                            </div>
                            <!-- End of .category-carousel -->
                        </div>
                        <!-- End of .category-widget -->

                        <div class="sidebar-social-share-widget m-b-xs-40">
                            <ul class="social-share-list-wrapper">
                                <li class="social-share-list text-center perfect-square">
                                    <a href="https://www.facebook.com/studentmag.tn"  class="list-inner bg-color-facebook"  target="_blank">
                                        <i class="fab fa-facebook-f"></i>
                                        <div class="counts">300+</div>
                                        <div class="title">Fans</div>
                                    </a>
                                </li>
                                <!-- End of .social-share-list -->
                                <li class="social-share-list text-center perfect-square">
                                    <a href="https://twitter.com/studentmag_tn" class="list-inner bg-color-twitter" target="_blank">
                                        <i class="fab fa-twitter"></i>
                                        <div class="counts">10+</div>
                                        <div class="title">Followers</div>
                                    </a>
                                </li>
                                <!-- End of .social-share-list -->
                                <li class="social-share-list text-center perfect-square">
                                    <a href="https://www.youtube.com/channel/UCNZJ0sWo0-c5NApCkMjDY5Q/featured" class="list-inner bg-color-youtube" target="_blank">
                                        <i class="fab fa-youtube"></i>
                                        <div class="counts">10+</div>
                                        <div class="title">Subscribers</div>
                                    </a>
                                </li>
                                <!-- End of .social-share-list -->





                                <li class="social-share-list text-center perfect-square">
                                    <a href="https://www.instagram.com/studentmag.tn/" class="list-inner bg-color-instagram" target="_blank">
                                        <i class="fab fa-instagram"></i>
                                        <div class="counts">50+</div>
                                        <div class="title">Followers</div>
                                    </a>
                                </li>
                                <!-- End of .social-share-list -->
                            </ul>
                            <!-- End of .social-share-list-wrapper -->
                        </div>
                        <!-- End of .sidebar-social-share -->
                        <div class="post-widget sidebar-post-widget m-b-xs-40">
                            <ul class="nav nav-pills row no-gutters">
                                <li class="nav-item col">
                                    <a class="nav-link active" data-toggle="pill" href="#recent-post">Recent</a>
                                </li>
                                <li class="nav-item col">
                                    <a class="nav-link" data-toggle="pill" href="#popular-post">Popular</a>
                                </li>

                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="recent-post">
                                    <div class="axil-content">
                                        {% for ra in recentArticles %}
                                            <div class="media post-block post-block__small">
                                                <a href="{{path('show_category',{'id': article.category.id}) }}" class="align-self-center"><img
                                                            class=" m-r-xs-30" src="{{asset('assets/images/article/')}}{{ ra.cover }}"
                                                            alt="media image"></a>
                                                <div class="media-body">
                                                    {% if ra.category.name=="Lifestyle" %}
                                                        <a href="{{path('show_category',{'id': article.category.id}) }}"
                                                           class="post-cat color-green-one">{{ra.category.name}}</a>
                                                    {% endif %}
                                                    {% if ra.category.name=="Business" %}
                                                        <a href="{{path('show_category',{'id': article.category.id}) }}"
                                                           class="post-cat color-blue-two">{{ra.category.name}}</a>
                                                    {% endif %}
                                                    {% if ra.category.name=="Technology" %}
                                                        <a href="{{path('show_category',{'id': article.category.id}) }}"
                                                           class="post-cat color-blue-one">{{ra.category.name}}</a>
                                                    {% endif %}
                                                    {% if ra.category.name=="Events" %}
                                                        <a href="{{path('show_category',{'id': article.category.id}) }}"
                                                           class="post-cat color-red-one">{{ra.category.name}}</a>
                                                    {% endif %}
                                                    {% if ra.category.name=="Opportunities" %}
                                                        <a href="{{path('show_category',{'id': article.category.id}) }}"
                                                           class="post-cat color-blue-grey-one">{{ra.category.name}}</a>
                                                    {% endif %}
                                                    {% if ra.category.name=="News" %}
                                                        <a href="{{path('show_category',{'id': article.category.id}) }}"
                                                           class="post-cat color-blue-one">{{ra.category.name}}</a>
                                                    {% endif %}
                                                    <h4 class="axil-post-title hover-line hover-line"><a
                                                                href="{{path('show_category',{'id': article.category.id}) }}">{{ra.title}}</a></h4>
                                                    <div class="post-metas">
                                                        <ul class="list-inline">
                                                            <li>By <a href="#">{{ra.author.firstName}} {{ ra.author.lastName }}</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                        <!-- End of .post-block -->
                                    </div>
                                    <!-- End of .content -->
                                </div>
                                <!-- End of .tab-pane -->
                                <div class="tab-pane fade" id="popular-post">
                                    <div class="axil-content">
                                        {% for po in popularArticles %}

                                            <div class="media post-block post-block__small">
                                                <a href="{{path('show_category',{'id': po.category.id}) }}" class="align-self-center"><img
                                                            class=" m-r-xs-30" src="{{asset('assets/images/article/')}}{{ po.cover }}"
                                                            alt="media image"></a>
                                                <div class="media-body">
                                                    {% if po.category.name=="Lifestyle" %}
                                                        <a href="{{path('show_category',{'id': po.category.id}) }}"
                                                           class="post-cat color-green-one">{{po.category.name}}</a>
                                                    {% endif %}
                                                    {% if po.category.name=="Business" %}
                                                        <a href="{{path('show_category',{'id': po.category.id}) }}"
                                                           class="post-cat color-blue-two">{{po.category.name}}</a>
                                                    {% endif %}
                                                    {% if po.category.name=="Technology" %}
                                                        <a href="{{path('show_category',{'id': po.category.id}) }}"
                                                           class="post-cat color-blue-one">{{po.category.name}}</a>
                                                    {% endif %}
                                                    {% if po.category.name=="Events" %}
                                                        <a href="{{path('show_category',{'id': po.category.id}) }}"
                                                           class="post-cat color-red-one">{{po.category.name}}</a>
                                                    {% endif %}
                                                    {% if po.category.name=="Opportunities" %}
                                                        <a href="{{path('show_category',{'id': po.category.id}) }}"
                                                           class="post-cat color-blue-grey-one">{{po.category.name}}</a>
                                                    {% endif %}
                                                    {% if po.category.name=="News" %}
                                                        <a href="{{path('show_category',{'id': po.category.id}) }}"
                                                           class="post-cat color-blue-one">{{po.category.name}}</a>
                                                    {% endif %}
                                                    <h4 class="axil-post-title hover-line hover-line"><a
                                                                href="{{path('show_category',{'id': po.category.id}) }}">{{po.title}}</a></h4>
                                                    <div class="post-metas">
                                                        <ul class="list-inline">
                                                            <li>By <a href="#">{{po.author.firstName}} {{ po.author.lastName }}</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                        <!-- End of .post-block -->
                                    </div>
                                    <!-- End of .content -->
                                </div>
                                <!-- End of .tab-pane -->


                                <!-- End of .tab-content -->
                            </div>
                            <!-- End of .sidebar-post-widget -->
                        <!-- End of .sidebar-post-widget -->

                            <div class="instagram-widget m-b-xs-40">
                                <div class="widget-title">
                                    <h3>Instagram</h3>
                                </div>
                                <div class="axil-content">
                                    <ul class="instagram-post-list-wrapper">
                                        <li class="instagram-post-list perfect-square">
                                            <a href="https://www.instagram.com/p/B338YpZnmlc/" class="list-inner" target="_blank"
                                               style="background-image: url({{ asset('assets/images/insta1.jpg')}}">
                                                <div class="post-info-wrapper overlay">
                                                    <div class="post-info">
                                                        <i class="feather icon-heart"></i>
                                                        10
                                                    </div>
                                                    <!-- End of .post-info -->

                                                    <!-- End of .post-info -->
                                                </div>
                                                <!-- End of .post-info-wrapper overlay -->
                                            </a>
                                        </li>
                                        <!-- End of .instagram-post-list -->
                                        <li class="instagram-post-list perfect-square">
                                            <a href="https://www.instagram.com/p/B3wBFixnXo8/" class="list-inner" target="_blank"
                                               style="background-image: url({{ asset('assets/images/insta2.jpg')}}">
                                                <div class="post-info-wrapper overlay">
                                                    <div class="post-info">
                                                        <i class="feather icon-heart"></i>
                                                        10+
                                                    </div>
                                                    <!-- End of .post-info -->

                                                    <!-- End of .post-info -->
                                                </div>
                                                <!-- End of .post-info-wrapper overlay -->
                                            </a>
                                        </li>
                                        <!-- End of .instagram-post-list -->
                                        <li class="instagram-post-list perfect-square">
                                            <a href="https://www.instagram.com/p/B3tp2gmnSht/" class="list-inner" target="_blank"
                                               style="background-image: url({{ asset('assets/images/insta3.jpg')}}">
                                                <div class="post-info-wrapper overlay">
                                                    <div class="post-info">
                                                        <i class="feather icon-heart"></i>
                                                        10+
                                                    </div>
                                                    <!-- End of .post-info -->

                                                    <!-- End of .post-info -->
                                                </div>
                                                <!-- End of .post-info-wrapper overlay -->
                                            </a>
                                        </li>
                                        <!-- End of .instagram-post-list -->
                                        <li class="instagram-post-list perfect-square">
                                            <a href="https://www.instagram.com/p/B3rWijKH0_A/" class="list-inner" target="_blank"
                                               style="background-image: url({{ asset('assets/images/insta4.jpg')}}">
                                                <div class="post-info-wrapper overlay">
                                                    <div class="post-info">
                                                        <i class="feather icon-heart"></i>
                                                        10+
                                                    </div>
                                                    <!-- End of .post-info -->
                                                    <!-- End of .post-info -->
                                                </div>
                                                <!-- End of .post-info-wrapper overlay -->
                                            </a>
                                        </li>
                                        <!-- End of .instagram-post-list -->

                                        <!-- End of .instagram-post-list -->
                                    </ul>
                                    <!-- End of .instagram-post-list-wrapper -->
                                    <div class="m-t-xs-20">
                                    <a href="https://www.instagram.com/studentmag.tn/" target="_blank">
                                        <button class="btn btn-primary btn-small" >FOLLOW US</button>
                                    </a>
                                    </div>
                                </div>
                                <!-- End of .content -->
                            </div>


                        <!-- End of .add-block-widget -->
                        </div>
                    </aside>
                    <!-- End of .post-sidebar -->
                </div>
                <!-- End of .col-lg-4 -->
            </div>
            <!-- End of .row -->
        </div>
        <!-- End of .container -->
    </div>
    <!-- End of .post-single-wrapper -->

    <section class="related-post p-b-xs-30">

    </section>
{% endblock %}


{% block js %}


{% endblock %}


