{% extends 'base.html.twig' %}
{% block meta %}
    <title>{{category.name}}</title>
{% endblock %}
{% block css %}
{% endblock %}

{% block body %}
    <div class="breadcrumb-wrapper">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('article_homepage') }}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ category.name  }}</li>
                </ol>
                <!-- End of .breadcrumb -->
            </nav>
        </div>
        <!-- End of .container -->
    </div>
    <!-- End of .breadcrumb-container -->

    <section class="banner banner__default bg-grey-light-three">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="post-title-wrapper">
                        <h2 class="m-b-xs-0 axil-post-title hover-line">{{ category.name }}</h2>
                    </div>
                    <!-- End of .post-title-wrapper -->
                </div>
                <!-- End of .col-lg-8 -->
            </div>
        </div>
        <!-- End of .container -->
    </section>
    <!-- End of .banner -->
    <div class="random-posts section-gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <main class="axil-content">

                        {% for art in articlesInCategory %}
                        <div class="media post-block post-block__mid m-b-xs-30">
                            <a href="{{path('show_article',{'slug':art.slug})}}" class="align-self-center"><img class=" m-r-xs-30"
                                                                                               src="{{asset('assets/images/article/')}}{{art.cover}}" alt=""></a>
                            <div class="media-body">
                                <div class="post-cat-group m-b-xs-10">

                                        <a href="{{path('show_category',{'slug':art.category.slug})}}"
                                           class="{{art.category.cssClass}}">{{art.category.name |upper}}</a>

                                </div>
                                <h3 class="axil-post-title hover-line hover-line"><a
                                            href="{{path('show_article',{'slug':art.slug})}}">{{ art.title }}</a>
                                </h3>
                                {% set intro = art.introduction | split('.') %}

                                <p class="mid">{{intro[0]}} ... </p>
                                <div class="post-metas">
                                    <ul class="list-inline">
                                        <li>By <a href="#">{{art.author.firstName}} {{ art.author.lastName }}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <!-- End of .post-block -->


                    </main>
                    <!-- End of .axil-content -->
                </div>
                <!-- End of .col-lg-8 -->

                <div class="col-lg-4">
                    <aside class="post-sidebar">

                        <!-- End of .add-block-widget -->


                        <div class="sidebar-social-share-widget m-b-xs-40">
                            <ul class="social-share-list-wrapper">
                                <li class="social-share-list text-center perfect-square">
                                    <a href="https://www.facebook.com/studentmag.tn"  class="list-inner bg-color-facebook"  target="_blank">
                                        <i class="fab fa-facebook-f"></i>
                                        <div class="counts">300+</div>
                                        <div class="title">Fans</div>
                                    </a>
                                </li>
                                <!-- End of .social-share-list -->
                                <li class="social-share-list text-center perfect-square">
                                    <a href="https://twitter.com/studentmag_tn" class="list-inner bg-color-twitter" target="_blank">
                                        <i class="fab fa-twitter"></i>
                                        <div class="counts">10+</div>
                                        <div class="title">Followers</div>
                                    </a>
                                </li>
                                <!-- End of .social-share-list -->
                                <li class="social-share-list text-center perfect-square">
                                    <a href="https://www.youtube.com/channel/UCNZJ0sWo0-c5NApCkMjDY5Q/featured" class="list-inner bg-color-youtube" target="_blank">
                                        <i class="fab fa-youtube"></i>
                                        <div class="counts">10+</div>
                                        <div class="title">Subscribers</div>
                                    </a>
                                </li>
                                <!-- End of .social-share-list -->





                                <li class="social-share-list text-center perfect-square">
                                    <a href="https://www.instagram.com/studentmag.tn/" class="list-inner bg-color-instagram" target="_blank">
                                        <i class="fab fa-instagram"></i>
                                        <div class="counts">50+</div>
                                        <div class="title">Followers</div>
                                    </a>
                                </li>
                                <!-- End of .social-share-list -->
                            </ul>
                            <!-- End of .social-share-list-wrapper -->
                        </div>
                        <!-- End of .sidebar-social-share -->

                        <div class="category-widget m-b-xs-40">
                            <div class="widget-title">
                                <h3>Categories</h3>
                                <div class="owl-nav">
                                    <button class="custom-owl-prev"><i
                                                class="feather icon-chevron-left"></i></button>
                                    <button class="custom-owl-next"><i
                                                class="feather icon-chevron-right"></i></button>
                                </div>

                            </div>

                            <div class="category-carousel">
                                <div class="owl-carousel owl-theme">
                                    <div class="cat-carousel-inner">
                                        <ul class="category-list-wrapper">
                                            {% for c in categories | slice(0,4) %}
                                                <li class="category-list perfect-square">
                                                    <a href="{{ path('show_category',{'slug':c.slug}) }}" class="list-inner"
                                                       style="background-image: url({{asset('assets/images/categories/')}}{{c.cover}})"
                                                    >
                                                        <div class="post-info-wrapper overlay">
                                                            <div class="counter-inner"><span class="counter">{{c.nbArticles}}</span>+
                                                            </div>
                                                            <h4 class="cat-title">{{c.name}}</h4>
                                                        </div>
                                                        <!-- End of .counter-wrapper -->
                                                    </a>
                                                </li>
                                            {% endfor %}
                                            <!-- End of .category-list -->



                                        </ul>
                                        <!-- End of .category-list-wrapper -->
                                    </div>

                                    <!-- End of .cat-carousel-inner -->
                                    <div class="cat-carousel-inner">
                                        <ul class="category-list-wrapper">
                                            {% for c in categories | slice(4,8) %}
                                                <li class="category-list perfect-square">
                                                    <a href="{{ path('show_category',{'slug':c.slug}) }}" class="list-inner"
                                                       style="background-image: url({{asset('assets/images/categories/')}}{{c.cover}})"
                                                    >
                                                        <div class="post-info-wrapper overlay">
                                                            <div class="counter-inner"><span class="counter">{{c.nbArticles}}</span>+
                                                            </div>
                                                            <h4 class="cat-title">{{c.name}}</h4>
                                                        </div>
                                                        <!-- End of .counter-wrapper -->
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>


                                </div>
                                <!-- End of  .owl-carousel -->
                            </div>
                            <!-- End of .category-carousel -->
                        </div>
                        <!-- End of .category-widget -->
                        <!-- End of .category-widget -->

                        <div class="post-widget sidebar-post-widget m-b-xs-40">
                            <ul class="nav nav-pills row no-gutters">
                                <li class="nav-item col">
                                    <a class="nav-link active" data-toggle="pill" href="#recent-post">Recent</a>
                                </li>
                                <li class="nav-item col">
                                    <a class="nav-link" data-toggle="pill" href="#popular-post">Popular</a>
                                </li>

                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="recent-post">
                                    <div class="axil-content">
                                        {% for ra in recentArticles %}
                                            <div class="media post-block post-block__small">
                                                <a href="{{path('show_article',{'slug':ra.slug})}}" class="align-self-center"><img
                                                            class=" m-r-xs-30" src="{{asset('assets/images/article/')}}{{ ra.cover }}"
                                                            alt="media image"></a>
                                                <div class="media-body">
                                                    <a href="{{path('show_category',{'slug': ra.category.slug})}}"
                                                       class="{{ra.category.cssClassTwo}}">{{ra.category.name |upper}}</a>

                                                    <h4 class="axil-post-title hover-line hover-line"><a
                                                                href="{{path('show_article',{'slug':ra.slug})}}">{{ra.title}}</a></h4>
                                                    <div class="post-metas">
                                                        <ul class="list-inline">
                                                            <li>By <a href="#">{{ra.author.firstName}}&nbsp{{ra.author.lastName}}</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                        <!-- End of .post-block -->
                                    </div>
                                    <!-- End of .content -->
                                </div>
                                <!-- End of .tab-pane -->
                                <div class="tab-pane fade" id="popular-post">
                                    <div class="axil-content">
                                        {% for po in popularArticles %}

                                            <div class="media post-block post-block__small">
                                                <a href="{{path('show_category',{'slug': po.category.slug})}} " class="align-self-center"><img
                                                            class=" m-r-xs-30" src="{{asset('assets/images/article/')}}{{ po.cover }}"
                                                            alt="media image"></a>
                                                <div class="media-body">

                                                    <a href="{{path('show_category',{'slug': po.category.slug})}}"
                                                       class="{{po.category.cssClassTwo}}">{{po.category.name |upper}}</a>

                                                    <h4 class="axil-post-title hover-line hover-line"><a
                                                                href="{{path('show_article',{'slug':po.slug})}}">{{po.title}}</a></h4>
                                                    <div class="post-metas">
                                                        <ul class="list-inline">
                                                            <li>By <a href="#">{{po.author.firstName}}&nbsp{{po.author.lastName}}</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                        <!-- End of .post-block -->
                                    </div>
                                    <!-- End of .content -->
                                </div>
                                <!-- End of .tab-pane -->


                                <!-- End of .tab-content -->
                            </div>
                            <!-- End of .sidebar-post-widget -->
                            <div class="instagram-widget m-b-xs-40">
                                <div class="widget-title">
                                    <h3>Instagram</h3>
                                </div>
                                <div class="axil-content">
                                    <ul class="instagram-post-list-wrapper">
                                        <li class="instagram-post-list perfect-square">
                                            <a href="https://www.instagram.com/p/B338YpZnmlc/" class="list-inner" target="_blank"
                                               style="background-image: url({{ asset('assets/images/insta1.jpg')}}">
                                                <div class="post-info-wrapper overlay">
                                                    <div class="post-info">
                                                        <i class="feather icon-heart"></i>
                                                        10
                                                    </div>
                                                    <!-- End of .post-info -->

                                                    <!-- End of .post-info -->
                                                </div>
                                                <!-- End of .post-info-wrapper overlay -->
                                            </a>
                                        </li>
                                        <!-- End of .instagram-post-list -->
                                        <li class="instagram-post-list perfect-square">
                                            <a href="https://www.instagram.com/p/B3wBFixnXo8/" class="list-inner" target="_blank"
                                               style="background-image: url({{ asset('assets/images/insta2.jpg')}}">
                                                <div class="post-info-wrapper overlay">
                                                    <div class="post-info">
                                                        <i class="feather icon-heart"></i>
                                                        10+
                                                    </div>
                                                    <!-- End of .post-info -->

                                                    <!-- End of .post-info -->
                                                </div>
                                                <!-- End of .post-info-wrapper overlay -->
                                            </a>
                                        </li>
                                        <!-- End of .instagram-post-list -->
                                        <li class="instagram-post-list perfect-square">
                                            <a href="https://www.instagram.com/p/B3tp2gmnSht/" class="list-inner" target="_blank"
                                               style="background-image: url({{ asset('assets/images/insta3.jpg')}}">
                                                <div class="post-info-wrapper overlay">
                                                    <div class="post-info">
                                                        <i class="feather icon-heart"></i>
                                                        10+
                                                    </div>
                                                    <!-- End of .post-info -->

                                                    <!-- End of .post-info -->
                                                </div>
                                                <!-- End of .post-info-wrapper overlay -->
                                            </a>
                                        </li>
                                        <!-- End of .instagram-post-list -->
                                        <li class="instagram-post-list perfect-square">
                                            <a href="https://www.instagram.com/p/B3rWijKH0_A/" class="list-inner" target="_blank"
                                               style="background-image: url({{ asset('assets/images/insta4.jpg')}}">
                                                <div class="post-info-wrapper overlay">
                                                    <div class="post-info">
                                                        <i class="feather icon-heart"></i>
                                                        10+
                                                    </div>
                                                    <!-- End of .post-info -->
                                                    <!-- End of .post-info -->
                                                </div>
                                                <!-- End of .post-info-wrapper overlay -->
                                            </a>
                                        </li>
                                        <!-- End of .instagram-post-list -->

                                        <!-- End of .instagram-post-list -->
                                    </ul>
                                    <!-- End of .instagram-post-list-wrapper -->
                                    <div class="m-t-xs-20">
                                        <a href="https://www.instagram.com/studentmag.tn/" target="_blank">
                                            <button class="btn btn-primary btn-small" >FOLLOW US</button>
                                        </a>
                                    </div>
                                </div>
                                <!-- End of .content -->
                            </div>
                            <!-- End of .instagram-widget -->
                        </div>
                    </aside>
                    <!-- End of .post-sidebar -->
                </div>
                <!-- End of .col-lg-4 -->
            </div>
            <!-- End of .row -->
        </div>
        <!-- End of .container -->
    </div>
    <!-- End of .random-posts -->

{% endblock %}


{% block js %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-166867040-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-166867040-1');
    </script>

{% endblock %}


